.shimmer_container{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.shimmer_card {
    height: 40px;
    border: 1px solid gainsboro;
    width: auto;
    background: linear-gradient(-45deg, #e4e4e4 40%, #f1f1f1 50%, #e4e4e4 60%);
    background-size: 300%;
    background-position-x: 100%;
    animation: shimmer 1s infinite linear;
}




@keyframes shimmer {
    to {
        background-position-x: 0%
    }
}