/* style.css */

.flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5px 0px;
  align-items: center;
  margin-bottom: 2px;
  padding-bottom: 2px;
  background-color: white;
  padding: 10px;
  padding-top: 20px;
  border-top: 1px solid gainsboro;
  border-right: 1px solid gainsboro;
  border-left: 1px solid gainsboro;
  margin: 0px 10px;
  font-size: 14px;
}

.total_value {
  background-color: #2162b2;
  color: white;
  padding: 5px 10px;
  border-radius: 100%;
}

.actions {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px 20px;
}

.search_container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.search {
  border: 1px solid gainsboro;
  background-color: white;
  outline: none;
  padding: 5px 10px;
}

.filter-container {
  flex: 0 0 auto;
}

.button-container {
  flex: 0 0 auto;
  margin-left: 2px;
  display: flex;
  gap: 5px;
}

.export-button-table {
  text-decoration: none !important;
  text-transform: none !important;
  padding: 3px 6px;
  border: 1px solid gainsboro;
  padding: 5px 10px;
  border-radius: 0.125rem;
  background-color: white;
  color: #4B5563;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.export-button-inside {
  text-decoration: none !important;
  text-transform: none !important;
  color: #4B5563;
}

.export-button-table:hover {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
}

.table-container {
  padding: 0px 10px;
  overflow-x: auto;
  background-color: white;
  border-right: 1px solid gainsboro;
  border-bottom: 1px solid gainsboro;
  border-left: 1px solid gainsboro;
  margin: 0px 10px;
  padding-bottom: 20px;
}

.border_top {
  border-top: 1px solid gainsboro;
  padding-top: 10px;
}

.self_table-container {
  padding: 0px 10px;
  overflow-x: auto;
  background-color: white;
  border: 1px solid gainsboro;
  margin: 0px 10px;
  padding-bottom: 20px;
}

.table {
  width: 100%;
  /* font-family: sans-serif; */
  border-collapse: collapse;
}

.table-header {
  font-weight: bold;
  text-align: left;
  font-size: 0.815rem;
  background-color: #fafafa;
  border-top: 2px solid #dee2e6;
  border-bottom: 2px solid #dee2e6;
}

.table-header th {
  padding: 10px;
  border-bottom: 1px solid #D1D5DB;
  color: #374151;
  text-transform: capitalize;
}

.table-body {
  font-size: 0.75rem;
}

.table-row {
  background-color: white;
  border-bottom: 1px solid #D1D5DB;
}

.table-row:hover {
  background-color: #d1d1d117;
}

.table-cell {
  padding: 0.5rem;
  text-align: left;
  font-weight: 500;
  color: #4B5563;
}

.pagination {
  margin-top: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-size {
  outline: none;
  border: 1px solid gainsboro;
  background-color: rgba(230, 224, 224, 0.238);
  color: #4B5563;
  font-size: 0.875rem;
  border-radius: 0.125rem;
  padding: 5px 10px;
}

.pagination-info {
  grid-column: span 4;
  text-align: center;
}

.pagination-buttons {
  grid-column: span 4;
  text-align: right;
}

.pagination-button {
  cursor: pointer;
  border: 1px solid gainsboro;
  padding: 5px 7px;
}

.pagination-button:hover {
  background-color: #93C5FD;
  color: white;
}

.no_data {
  width: 100%;
  text-align: center;
  padding: 20px 0px;
}


.table-card {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 0.5rem;
}

.table-card-items {
  border: 1px solid rgb(218, 218, 218);
  background-color: white;
  padding: 10px 20px;
  border-radius: 5px;
  filter: drop-shadow(0px 0px 5px rgba(14, 13, 13, 0.2));
}

.table-card-cell {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  margin-bottom: 5px;
}

.table-card-key {
  grid-column: span 6 / span 6;
  text-transform: capitalize;
}

.table-card-value {
  grid-column: span 6 / span 6;
}



/* Media Query */
@media only screen and (max-width: 767px) {

 .table-card {
  display: flex;
 }

 .card_pagination {
  display: '';
 }

 .self_table-container, .table_main_container {
  display: none;
 }

 .card_no_data {
  display: '';
 }

}

@media only screen and (min-width: 768px) {

 .table-card {
  display: none;
 }

 .self_table-container, .table_main_container {
  display: '';
 }

 .card_pagination {
  display: none !important;
 }

 .card_no_data {
  display: none;
 }

}