

.error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.error-sub-container {
    display: flex;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    justify-content: center;
    align-items: center;
    border: 1px solid #f87c7c;
    width: 100%;
    height: auto;
    text-align: center;
    background-color: #fadbdb;
    filter: drop-shadow(0 4px 3px rgba(0, 0, 0, 0.07));
}

.error-wrapper>h1 {
    padding-top: 1rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 500;
    color: #EF4444;
}

.button-wrapper {
    display: flex;
    margin-top: 1rem;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}

.back-btn {
    cursor: pointer;
    color: rgb(180 83 9);
    border: 2px solid rgb(180 83 9);
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border-radius: 0.125rem;
    border-width: 1px;
    font-size: 0.875rem;
    line-height: 1.25rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.back-btn:hover {
    color: #ffffff;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    background-color: rgb(180 83 9);
}

.reload-btn {
    cursor: pointer;
    color: rgb(9, 97, 180);
    border: 2px solid rgb(9, 97, 180);
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border-radius: 0.125rem;
    border-width: 1px;
    font-size: 0.875rem;
    line-height: 1.25rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.reload-btn:hover {
    color: #ffffff;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    background-color: rgb(9, 97, 180);
}

.out-btn {
    cursor: pointer;
    color: rgb(180, 9, 9);
    border: 2px solid rgb(180, 9, 9);
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border-radius: 0.125rem;
    border-width: 1px;
    font-size: 0.875rem;
    line-height: 1.25rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.out-btn:hover {
    color: #ffffff;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    background-color: rgb(180, 9, 9);
}

@media (min-width: 768px) {

    .error-sub-container {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
        width: 66.666667%;
    }

    .error-wrapper {
        font-size: 1.5rem;
        line-height: 2rem;
    }

}