.change-password-form{
    /* border: 1px solid; */
    padding: 10px;
}
.password-send-otp-btn{
    border: none;
    background: none;
    outline: none;
    border: 1px solid grey;
    padding: 6px ;
    border-radius: 4px;
    cursor: pointer;
    background-color: rgb(42, 133, 255);
    color: white;
}



.forget-password-form{
    width: 40%;
    margin: auto;
    border: 1px solid rgb(217, 217, 217);
    padding: 20px;
    margin-top: 80px;
    border-radius: 10px;
    background-color: white;
}
.forget-password-form h4{
    text-align: center;
}

.resend_otp{
    text-align: end;
    color: blue;
    cursor: pointer;
    font-size: 14px;
}
.resend_otp_disable{
    text-align: end;
    color: grey;
    font-size: 14px;
}

.resend_otp:hover{
    text-decoration: underline;
}