.common_top_back_button {
    padding: 4px 10px;
    background-color: rgb(236, 236, 236);
    border: 1px solid gainsboro;
    color: rgba(0,0,0,0.8);
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 5px;
    font-weight: 600
}

.common_top_back_button:hover {
    background-color: rgb(243, 243, 243);
}

@media only screen and (max-width: 767px) {
    .common_top_back_button {
        position: relative;
        height: 1rem;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        gap: 5px;
        padding: 4px 10px;
        border: 1px solid gainsboro;
        color: rgba(0,0,0,0.8);
        cursor: pointer;
        border-radius: 5px;
        font-size: 14px;
    }
}

@media only screen and (min-width: 768px) {
    .common_top_back_button {
        position: absolute;
        top: 1rem;
        left: 10px;
        height: max-content;
        width: max-content;
    }
}