.device-approval-wrapper{
  /* border:1px solid; */
}
/* .disabledd {
  color: black;
  background-color: rgb(136, 136, 136); 
  pointer-events:none;
  opacity: 0.5; 
} */
.disabledd {
  color: black;
  background-color: rgb(136, 136, 136); 
  pointer-events:none;
  opacity: 0.5; 
  margin-top: 5px;
  border: none;
  outline: none;
  background: none;
  text-decoration: none;
  border-radius: 0.125rem;
  font-weight: 600;
  /* color: #ffffff; */
  color: black;
  /* background:grey; */
  padding: 10px;
  font-size: 0.9rem;
  cursor: pointer;
  /* border-radius: 6px; */
  border-bottom: 1px dotted grey;
}

/* .enabledd{
  pointer-events:visible;
  opacity: 1; 
  color: white;
  background-color: green;
} */
.enabledd{
  pointer-events:visible;
  opacity: 1; 
  color: white;
  background-color: green;
  margin-top: 5px;
  border: none;
  outline: none;
  background: none;
  text-decoration: none;
  border-radius: 0.125rem;
  font-weight: 600;
  /* color: #ffffff; */
  color: black;
  padding: 10px;
  font-size: 0.9rem;
  cursor: pointer;
  /* border-radius: 6px; */
  border-bottom: 1px dotted grey;
  color: white;
  background-color: green;
}
.active-state{
  border: none;
  outline: none;
  background: none;
  text-decoration: none;
  pointer-events:visible;
  opacity: 1; 
  margin-top: 5px;
  border-radius: 0.125rem;
  font-weight: 600;
  padding: 10px;
  font-size: 0.9rem;
  cursor: pointer;
  border-bottom: 1px dotted grey;
  color: white;
  background-color: orange;
}

.process-flow-device{
  /* border:1px solid; */
  border: 1px solid rgb(218, 218, 218);
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  height: max-content;
}
  .device-approval-btn-add {
    margin-top: 10px;
    margin-right: 15px;
    text-align: end;
  }
  
  .device-approval-btn-add button {
    border: none;
    background: none;
    outline: none;
    border: 1px solid rgb(33, 98, 178);
    background-color: white;
    color:rgb(33, 98, 178);
    padding: 9px 14px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .device-approval-btn-add button:hover {
    background-color: rgb(33, 98, 178);
    color: white;
    transform: translateY(-1px); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

.flow-device-onboarding{
  margin-top: 5px;
  border: none;
  outline: none;
  background: none;
  text-decoration: none;
  border-radius: 0.125rem;
  font-weight: 600;
  /* color: #ffffff; */
  color: black;
  /* background:grey; */
  padding: 10px;
  font-size: 0.9rem;
  cursor: pointer;
  /* border-radius: 6px; */
  border-bottom: 1px dotted grey;
}


.device-approval-add-form-labels{
    font-size: 13px;
  }
  .approval-form-identifire-para{
    font-size: 14px;
    font-weight: 600;
  }
  .approval-form-labels{
    font-size: 13px;
  }
  
  .approval-roles-slection-label{
    font-size:13px
  }
  .approval-form-container{
    padding:20px;
    margin:10px;
    background-color: white;
    border-radius: 10px;
  }

  .approval-selct-form-inputs {
font-size: 12px;
outline: none;
display: block;
width: 100%;
padding: 0.475rem 0.75rem;
line-height: 1.5;
color: #495057;
background-color: #F6F7FB;
background-clip: padding-box;
border: 1px solid #ced4da;
border-radius: 8px;
transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
margin-top: 10px;
  }

  .approval-select-form-text-inputs {
    font-size: 12px;
    outline: none;
    display: block;
    
    padding: 0.475rem 0.75rem;
    line-height: 1.5;
    color: #495057;
    background-color: #F6F7FB;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 8px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin-top: 10px;
      }
    
      .approval-select-form-file-upload {
        font-size: 12px;
        outline: none;
        display: block;
        
        padding: 0.475rem 0.75rem;
        line-height: 1.5;
        color: #495057;
        background-color: #F6F7FB;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 8px;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        margin-top: 10px;
          }
      